/* styles.css */

/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light gray background */
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav {
    display: flex;
    justify-content: center; /* Center the links horizontally */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
}

h1, h2 {
    color: #333; /* Dark gray text color */
}

/* Badge and All Badges page specific styles */

.badge-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.badge {
    width: 150px;
    height: 150px;
    background-color: #007bff; /* Blue badge background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
}
