/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ccc;
}

h1, h2 {
    margin-bottom: 10px;
}
input[type="number"] {
    width: calc(100% - 450px); /* Adjusting for padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#budget {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#budgetDetails {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#budgetDetails h3 {
    margin-top: 0;
}


/* style.css */

.assets-liabilities-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add some space between the sections */
}

.assets-liabilities-container section {
    flex: 1; /* Each section takes up equal space */
}

#assets,
#liabilities,
#expenses {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
    margin-bottom: 20px; /* Add some space between the sections */
}



.accounts-categories-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.accounts-categories-container section {
    flex: 1;
}

#accounts,
#budgetCategories {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
    margin-bottom: 20px;
}

#budgetCategories {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
    margin-bottom: 20px; /* Add some space between the sections */
}

