/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light gray background */
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ccc;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
}

h1, h2 {
    color: #333; /* Dark gray text color */
}

input[type="number"] {
    width: calc(100% - 20px); /* Adjusting for padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

canvas {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
    width: 48%; /* Adjust according to your preference */
}

#goalTracker {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
}

/* style.css */

/* Other styles remain the same */

.assets-liabilities-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add some space between the sections */
}

.assets-liabilities-container section {
    flex: 1; /* Each section takes up equal space */
    margin-right: 20px; /* Add some space between the sections */
}

/* Adjust styles for the Assets and Liabilities sections if needed */
#assets,
#liabilities,
#expenses,
#budget {
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Soft shadow */
}

#assets h2,
#liabilities h2,
#expenses h2 {
    margin-bottom: 10px;
}
